@media screen and (min-width: 800px) {
    .container{
        grid-template-columns: 33% 1fr;
        grid-template-rows: 1fr;
    }
    .bg-img{
        background-image: url(images/bg-main-desktop.png);
        background-size: cover;
        grid-area: 1/1/2/2;
    }
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
        transform: scale(0.7);
        row-gap: 2rem;
        column-gap: 7rem;
        position: absolute;
    }

    .card-front{
        grid-area:1/1/2/2;
        align-self: flex-end;
        order: 0;
        transform: translateX(-3rem);
    }

    .card-back{
        grid-area:2/1/2/2;
        align-self: flex-start;
        margin-left: 70px;
        transform: none;
    }

    .form-card-div{
        width: 30vw;
        grid-area: 1/2/3/3;
        place-content: center;
        display: grid; 
    }
}

@media screen and (max-width: 400px) {
    .content{
        transform: scale(0.7) translateX(-4rem) translateY(-1rem);
    }
}

@media screen and (max-width: 320px) {
    .content{
        transform: scale(0.6) translateX(-7rem) translateY(-3rem);
    }
}

@media screen and (min-width: 1200px)  {
    .content{
        transform: scale(0.9) translateX(6rem);
    }
}

@media screen and (min-width: 1440px)  {
    .content{
        transform: scale(1) translateX(11rem);
    }
}